.page {
    @include page-container;
    display: flex;
    flex-direction: column;
    gap: $size-12;
}

.page__cards {
    display: flex;
    flex-direction: column;
    gap: $size-8;
}

.page__answer {
    display: flex;
    flex-direction: column;
    gap: $size-8;
}