.filters {
    background-color: $white;
    border-radius: $rounded-lg;
    padding: 0 $size-12;
    flex: 2;
}

.filters_center {
    display: flex;
    justify-content: center;
    padding: $size-12;
}

.filters__content {
    display: flex;
    flex-direction: column;
    gap: $size-10;
    padding: $size-12 0;
    position: sticky;
    top: $size-40;
}

.filters__title {
    font-size: $text-md;
    font-weight: $font-semibold;
}

.filters__column {
    display: flex;
    flex-direction: column;
    gap: $size-8;
}