.container {
    display: flex;
    background-color: $white;
    padding: $size-12;
    border-radius: $rounded-lg;
    gap: $size-12;
}

.container__poster {
    height: 100%;
    border-radius: $rounded-lg;
}

.container__card {
    gap: $size-4;
    flex: 12;
    padding: 0;
}

.container__genre {
    font-size: $text-md;
    font-style: italic;
}

.ticket {
    display: flex;
    align-items: center;
    gap: $size-4;
}

.ticket__remove-button {
    @include ticket-button;
    background-color: $tangerine;
}

.ticket__add-button {
    @include ticket-button;
    background-color: $orange;
}

.ticket__text {
    font-size: $text-xl;
    font-weight: $font-semibold;
}
