.container {
    display: flex;
    background-color: $white;
    padding: $size-12;
    border-radius: $rounded-lg;
    gap: $size-12;
}

.container_link {
    &:hover {
        background-color: $gray-4;
        .container__card {
            background-color: $gray-4;
        }
    }
}

.container_poster {
    .container__image {
        width: $size-200;
        height: $size-250;
    }

    .container__card {
        gap: $size-12;
    }
}

.container__image {
    position: relative;
    height: $size-60;
    width: $size-50;
    border-radius: $rounded-lg;
    overflow: hidden;
}

.container__card {
    gap: $size-4;
    flex: 12;
    padding: 0;
}

.container__info {
    display: flex;
    flex-direction: column;
    gap: $size-8;
}

.container__info-row {
    display: flex;
    gap: $size-4;
}

.container__label {
    font-size: $text-xl;
    font-weight: $font-semibold;
}

.container__text {
    font-size: $text-xl;
}

.container__description {
    display: flex;
    flex-direction: column;
    gap: $size-8;
}

.container__genre {
    font-size: $text-md;
    font-style: italic;
}

.ticket {
    display: flex;
    align-items: center;
    gap: $size-12;
}

.ticket__controller {
    display: flex;
    align-items: center;
    gap: $size-4;
}

.ticket__close {
    cursor: pointer;
}

.ticket__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size-10;
    height: $size-10;
    border-radius: $rounded;
    cursor: pointer;
    background-color: $orange;
    border: none;

    &:hover {
        background-color: $orange-hover;
    }

    &:disabled {
        background-color: $tangerine;
        cursor: not-allowed;
    }
}

.ticket__button-image {
    width: 50%;
    height: 50%;
}

.ticket__text {
    font-size: $text-xl;
    font-weight: $font-semibold;
}
