@use "variables" as *;

@mixin layout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $size-40;
    background-color: $gray-1;
    padding: 0 min($size-16, 4vw);
}

@mixin page-container {
    padding: $size-16;
}

@mixin modal-button {
    height: $size-20;
    width: $size-28;
    border-radius: $rounded-lg;
    padding: $size-5;
    font-size: $text-sm;
    font-weight: $font-medium;
    text-align: center;
    border: none;
    cursor: pointer;
}