@use "variables" as *;

@mixin layout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $size-40;
    background-color: $gray-1;
    padding: 0 min($size-16, 4vw);
}

@mixin page-container {
    padding: $size-16;
}

@mixin ticket-button {
    width: $size-10;
    height: $size-10;
    border-radius: $rounded;
    color: white;
    text-align: center;
    font-weight: $font-light;
    cursor: pointer;
}