.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    width: 100%;
    gap: $size-8;
}

.container__video {
    overflow: clip;
    object-fit: contain;
    overflow-clip-margin: contain;
    border-radius: $rounded-lg;
    width: 44vw;
}

.container__text {
    font-size: $text-xl;
    font-weight: $font-semibold;
}