.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparentize($black, 0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
}

.container__content {
    display: flex;
    flex-direction: column;
    width: 24vw;
    background-color: $white;
    padding: $size-12;
    border-radius: $rounded-lg;
    gap: $size-12;
}

.container__text-content {
    display: flex;
    flex-direction: column;
    gap: $size-8;
}

.container__title {
    font-size: $text-xl;
    font-weight: $font-semibold;
}

.container__buttons {
    display: flex;
    gap: $size-4;
}

.container__button_filled {
    @include modal-button;
    background-color: $orange;
    color: $white;
}

.container__button_outlined {
    @include modal-button;
    background-color: $white;
    color: $orange;
    border: $size-px solid $orange;
}