.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $size-8;
}

.container__title {
    font-size: $text-2xl;
    font-weight: $font-semibold;
    color: $orange;
}

.container__text {
    font-weight: $font-semibold;
}