* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: $gray-0;
}

a {
  color: inherit;
  text-decoration: none;
}

.dropdown-root {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  
  * {
    z-index: $z-dropdown;
    pointer-events: all;
  }
}

.modal-root {
  position: absolute;
  z-index: $z-dropdown;
}

.loader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
