.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--gray-1);
    padding: var(--size-12) min(var(--size-16), 4vw);
}

.header__title {
    font-size: var(--text-4xl);
    font-weight: var(--font-bold);
    color: var(--white);
}

.header__basket {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-4);
}

.header__basket-items-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-radius: var(--rounded-lg);
    color: var(--white);
    width: var(--size-14);
    height: var(--size-14);
}
