@mixin container {
    display: flex;
    background-color: $white;
    padding: $size-12;
    border-radius: $rounded-lg;
    gap: $size-12;
}

.container_link {
    @include container;
    &:hover {
        background-color: $gray-4;
        .container__card {
            background-color: $gray-4;
        }
    }
}

.container_poster {
    @include container;
    .container__image-container {
        width: $size-200;
        height: $size-250;
    }

    .container__card {
        gap: $size-12;
    }
}

.container__image-container {
    position: relative;
    height: $size-60;
    width: $size-50;
    border-radius: $rounded-lg;
    overflow: hidden;
    
}

.container__image {
    object-fit: cover;
}

.container__card {
    gap: $size-4;
    flex: 12;
    padding: 0;
}

.container__genre {
    font-size: $text-md;
    font-style: italic;
}
