.container {
    background-color: $white;
    border-radius: $rounded-lg;
    padding: 0 $size-12;
    flex: 2;
}

.container_center {
    display: flex;
    justify-content: center;
    padding: $size-12;
}

.container__spinner {
    width: $size-28;
    height: $size-28;
}

.container__content {
    display: flex;
    flex-direction: column;
    gap: $size-10;
    padding: $size-12 0;
    position: sticky;
    top: $size-40;
}

.container__title {
    font-size: $text-md;
    font-weight: $font-semibold;
}

.container__filters {
    display: flex;
    flex-direction: column;
    gap: $size-8;
}

.dropdown {
    position: sticky;
    background-color: red;
    max-height: 50px;
    overflow: scroll;
    overscroll-behavior: none;
}