.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-1);
    padding: var(--size-12) min(var(--size-16), 4vw);
}

.footer-text {
    color: var(--white);
    font-size: var(--text-xl);
    font-weight: var(--font-normal);
}