.review {
    display: flex;
    padding: $size-12;
    border-radius: $rounded-lg;
    gap: $size-16;
    background-color: $white;
}

.review__card {
    padding: 0;
    gap: $size-8;
}

.review__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: $text-xl;
}

.review__highlights {
    font-weight: $font-semibold;
}

.review__rating {
    display: flex;
    gap: $size-4;
}