.field {
    display: flex;
    flex-direction: column;
    gap: $size-2;
    width: 100%;
}

.field__label {
    width: fit-content;
    font-size: $text-sm;
}

.field__content {
    display: flex;
    align-items: center;
    border: $size-px solid $gray-3;
    border-radius: $rounded-lg;
    padding: 0 $size-8;
    height: $size-20;
    width: 100%;
    overflow: hidden;

    &:focus-within {
        border-color: $orange;
    }
}

.field__content_button {
    cursor: pointer;
    * {
        cursor: pointer;
    }
}

.field__content_group {
    gap: $size-2;
}

.field__content_disabled {
    background-color: $gray-3;

    &, * {
        cursor: not-allowed
    }
}

.field__input {
    width: 100%;
    height: 100%;
    font-size: $text-sm;
    border: none;
    outline: none;
    background-color: inherit;
    
    &::placeholder {
        color: $gray-2;
    }
}